<div class="container">
  <h1 class="param1">Forgot your password?</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email , class: "label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "input" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions" , class: "link-send"%>
    </div>
  <% end %>

  <div class="linkInForgot">
      <%= render "devise/shared/links" %>
  </div>
</div>